html {
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 5px solid red;
}

header {
  background-color: blue;
  min-height: 50px;
}

main {
  display: flex;
  /* any child of a flex parent will grow to fill to it's size */
  flex-grow: 1;
}

aside {
  padding: 10px;
  background-color: green;
  width: 20%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

#inputEl {
  border-radius: 10px;
}

.buttonStyle {
  border-radius: 10px;
}

#searchHistory {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
}

section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: yellow;
  width: 80%;
  gap: 10px;
}

#currentWeather {
  background-color: aqua;
}

#forecastWeather {
  background-color: purple;
}
