html {
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  color: aliceblue;
  background-image: linear-gradient(to right, blue, yellow);
  min-height: 50px;
  justify-content: center;
}

main {
  display: flex;
  /* any child of a flex parent will grow to fill to it's size */
  flex-grow: 1;
}

aside {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #004386;
  width: 20%;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

#inputEl {
  border-radius: 10px;
}

.buttonStyle {
  border-radius: 10px;
}

.clearButtonStyle {
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
}

#searchHistory {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 10px;
}

.weatherAnimal {
  display: flex;
  margin-top: auto;
  width: 100%;
  max-height: 20vw;
}

#displayCity {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  gap: 10px;
}

#currentWeather {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  min-height: 40%;
  display: none;
}

.weatherHeader {
  display: flex;
  justify-content: space-between;
}

#forecastWeather {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  min-height: 40%;
  display: none;
}

.card-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: large;
}
